html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;  
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.Add {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 5%;

}
